@import 'tailwindcss';

@layer base {
  body,
  html {
    width: 100dvw;
    min-height: 100dvh;
  }

  button {
    @apply p-2 rounded-md border cursor-pointer;
  }
}

@layer utilities {
  .header-height {
    @apply h-12;
  }

  .layout-padding {
    @apply py-16 px-4;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .hovering {
    @apply transition-transform hover:-translate-y-1;
  }

  .border-gray-shadow {
    box-shadow: 0 0 15px 1px #d9dde2;
  }
}

@layer components {
  .card {
    @apply rounded-md p-4;
    box-shadow: 0 0 15px 1px #d9dde2;
  }
}
