@import 'tailwindcss';

@layer base {
  body,
  html {
    width: 100dvw;
    min-height: 100dvh;
  }
}

@layer utilities {
  .header-height {
    @apply h-12;
  }

  .layout-padding {
    @apply py-16 px-4;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

@layer components {
  .card {
    @apply rounded-md p-4 mb-4 transition-transform cursor-pointer hover:-translate-y-1;
    box-shadow: 0 0 15px 1px #d9dde2;
  }
}
